[submodule "mumble-server"]
	path = mumble-server
	url = https://github.com/lzulauf/hassio-addon-mumble-server.git
	branch = beta
[submodule "icecast"]
	path = icecast
	url = https://github.com/lzulauf/hassio-addon-icecast.git
	branch = beta
